<br><br><br><br><br><br><br><br><br><br><br>
{% load static %}
<div class="container">
    <div id="contact">
        <div class="feature-card card text-center">
            <div class="card-body">
              <h3 class="card-title">Givblog</h3>
              <p class="card-text">Bizi sosyal medya hesaplarımızdan takip edin</p>
             <div class="social-media">
                <a href="#" class="btn btn-instagram">Instagram</a>
                <a href="#" class="btn btn-youtube">Youtube</a>
                <a href="#" class="btn btn-twitter">Twitter</a>
                <a href="#" class="btn btn-linkedln">Linkedln</a>
             </div>
            </div>
            <div class="card-footer text-muted" style="border:none; background:none;">
                © Givblog 2022, Tüm Hakları Saklıdır
            </div>
        </div>
    </div>
</div>
<style>
    .feature-card{
        border:none;
        margin-top:100px; 
        margin-right:10px;
    }
    .feature-card h3 {
        font-family:Georgina;
    }
    .feature-card .card-body .btn-instagram{
        background:orange;
        color:white;
         transition:0.2s;
    }
    .feature-card .card-body .social-media .btn:hover{
       font-size:18px;
       transition:0.2s;
    }
    .feature-card .card-body .social-media{
       margin-right:10px;
     }
    .feature-card .card-body .btn-youtube{
        background:#C82333;
        color:white;
        transition:0.2s;
    }
    .feature-card .card-body .btn-twitter{
        background:#1D9BF0;
        color:white;
        transition:0.2s;
    }
    .feature-card .card-body .btn-linkedln{
        background:#0077b8;
        color:white;
        transition:0.2s;
    }
</style>